<ion-view view-title="Rental Items List">
  <ion-content ng-controller="DashCtrl">
     <!--Item List -->
    <div class="list">
      <div class="item item-divider">
    {{serial.match}}
  </div>
    <a class="item item-thumbnail-left" href="#">
      <img src="https://png.icons8.com/ios/50/000000/dirt-bike-filled.png">
      <h2>Dirt Bike</h2>
      <p>Some dirt bike</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="https://png.icons8.com/color/50/000000/motorcycle.png">
      <h2>Colorful Bike</h2>
      <p>pretty</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="https://png.icons8.com/nolan/50/000000/motorcycle.png">
      <h2>Neon Bike</h2>
      <p>sleazy</p>
    </a>
  </div>



  </ion-content>
</ion-view>
